#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@


override_dh_auto_configure:
	make fpoptimizer.cc
	mkdir -p build
	cd build && cmake ..

override_dh_auto_build:
	cd build && make

override_dh_auto_install:
	cd build && make install

override_dh_auto_clean:
	$(RM) -r build
	dh_auto_clean
